* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,
ol {
    list-style: none;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #232536;
}

.main {
    flex-grow: 1;
}

.container {
    width: 100%;
    max-width: 1380px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
}


/* Header start */

.header {
    background-color: #2c095e;
    /* width: 1440px; */
    height: 120px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    align-items: center;
}

.btn-1 {
    margin-left: 507px;
}


/* MAIN START */

.main {}

.main__blog1 {
    width: 1441px;
    height: 600px;
    top: 120px;
    left: -1px;
    gap: 0px;
    opacity: 0px;
    background-image: url(../images/bacround__img1.svg);
}

.main__blog1__h2 {
    color: #ffffff;
    font-family: "Poppins";
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    text-align: left;
    text-decoration-style: solid;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 600px;
    padding-left: 121px;
    padding-top: 122px;
}

.blog1__span {
    color: crimson;
}

.blog1__btn {
    width: 242px;
    height: 60px;
    top: 391px;
    left: 120px;
    gap: 0px;
    border-radius: 10px;
    opacity: 0px;
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-left: 121px;
    margin-top: 88px;
}

.blog1__btn__text {}

.main__blog3 {
    display: flex;
}

.main__blog3__text {
    font-family: "Poppins";
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    text-align: left;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-top: 78px;
    padding-bottom: 65px;
}

.blog3__list1 {}

.list__img2 {
    margin-left: 120px;
}

.list__img2 {
    margin-left: 270px;
}

.blog3__list2 {}

.list2__texts {
    font-family: "Poppins";
    font-size: 34px;
    font-weight: 400;
    line-height: 51px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 560px;
    height: 694px;
    top: 1207px;
    left: 745px;
    gap: 0px;
    opacity: 0px;
    color: #2C095E;
}


/* BLOG2 start */

.main__blog2 {
    width: 1200px;
    height: 375px;
    left: 10px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    background-color: azure;
    margin-top: -100px;
    margin-left: 120px;
}

.main__blog2__list1 {
    padding-left: 10px;
    padding-right: 84px;
    padding-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog2__list1__text1 {
    font-family: "Poppins";
    font-size: 34px;
    font-weight: 400;
    line-height: 51px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 350px;
    height: 49px;
    top: 216px;
    gap: 0px;
    opacity: 0px;
}

.blog2__list1__text2 {
    font-family: "Poppins";
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}


/* FOOTER start */

.footer {
    background-color: #2c095e;
    height: 753px;
    gap: 0px;
    opacity: 0px;
}

.container {}

.footer__blog1 {}

.footer__blog__text1 {
    width: 178px;
    height: 31px;
    top: 185px;
    left: 162px;
    gap: 0px;
    opacity: 0px;
    font-family: "Poppins";
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    text-align: left;
    color: #ffffff;
    margin-top: 185px;
}

.footer__blog1__text2 {
    width: 532px;
    height: 85px;
    top: 241px;
    left: 162px;
    gap: 0px;
    opacity: 0px;
    font-family: "Poppins";
    font-size: 36px;
    font-weight: 700;
    line-height: 43.38px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #ababab;
    margin-top: 45px;
}

.footer__blog1__text3 {
    width: 334px;
    height: 31px;
    top: 351px;
    left: 162px;
    gap: 0px;
    opacity: 0px;
    font-family: "Poppins";
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #ffffff;
    padding-top: 25px;
}

.footer__blog1__text4 {
    width: 532px;
    height: 47px;
    top: 407px;
    left: 162px;
    gap: 0px;
    opacity: 0px;
    font-family: "Poppins";
    font-size: 36px;
    font-weight: 700;
    line-height: 43.38px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #ababab;
    margin-top: 81px;
}

.footer__blog2 {
    padding-top: 82px;
}

.footer__facebook {
    padding-right: 32px;
}

.footer__instagram {
    padding-right: 32px;
}

.footer__telegram {}